doctype html 
html(lang="en") 
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/static/css/index.css")
    body 
        div(class="container")
            if secondMsgPug
                h1(class="neon")=secondMsgPug
            else  
                h1(class="neon") Message Here